* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #2b2121;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', Arial, sans-serif;
  overflow: auto;
  position: relative;
  max-width: calc(100vw - 10px);

  #overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0;
    z-index: 0;
    pointer-events: none;
  }

  main {
    width: 100%;
    max-width: 1100px;
    color: white;

    .searchContainer {
      width: 100%;
      margin: 10px 0;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1001;

      .error {
        margin-bottom: 10px;
        color: red;
        font-weight: 900;
        transition: all 0.2s;
        opacity: 0;
        height: 23px;
      }

      .searchBar {
        display: flex;
        align-items: center;
        flex-direction: column;

        input {
          width: 1000px;
          min-width: 80%;
          height: 35px;
          font-size: 16px;
          color: white;
          padding-left: 12px;
          text-align: center;
          border: none;
          border-bottom: 2px solid white;
          background-color: transparent;
          outline: none;
        }

        input::placeholder {
          color: rgb(197, 197, 197);
          font-style: italic;
        }

        .resultsContainer {
          width: 80%;
          background-color: #584d4d;
          position: absolute;
          overflow: scroll;
          max-height: 585px;
          z-index: 3;
          top: 80px;
          border-radius: 7px;
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
          opacity: 0;
          transition: opacity 0.3s ease;
          pointer-events: none;

          .searchLoader {
            position: absolute;
            left: 50%;
            bottom: 40px;
            transform: translate(-50%, -50%) scale(0.7);
          }
        }

        .searchResults {
          display: grid;
          grid-template: auto / repeat(3, 240px);
          grid-gap: 27px;
          justify-content: center;
          padding: 40px 0;
          position: relative;

          .searchAlbum {
            width: 220px;
            background-color: #8f0d0d;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 7px;

            .searchTitle {
              font-size: 12px;
              text-align: center;
              font-weight: 600;
              height: 30px;
              display: flex;
              align-items: center;
            }

            .searchCover {
              margin: 10px 0;

              img {
                width: 100%;
                display: block;
              }
            }

            .searchTags {
              width: 200px;
              margin-left: 10px;
              display: flex;
              -webkit-user-select: none;
              -moz-user-select: none;
              user-select: none;
              min-height: 18px;

              .searchTag {
                padding: 3px 4px;
                background-color: white;
                color: black;
                font-size: 10px;
                margin-right: 5px;
                border-radius: 7px;
                font-weight: 500;
                text-wrap: wrap;

                a {
                  color: black;
                  text-decoration: none;
                }
              }
            }

            .searchPrize {
              margin: 10px 0;
            }

            .searchButtons {
              div {
                width: 100%;
                text-align: center;
                background-color: rgb(84 1 1);
                margin: 10px 0 0;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border-radius: 8px;
                transition: all 0.2s ease;
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
                padding: 10px 20px;
                font-size: 12px;
              }

              div:hover {
                background-color: rgb(95, 1, 1);
              }
            }
          }
        }
      }

      .categories {
        margin-top: 25px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .category {
          padding: 3px 8px;
          margin: 5px 0;
          background-color: white;
          color: black;
          border-radius: 7px;
          font-size: 16px;
          font-weight: bold;
          width: fit-content;
          cursor: pointer;
        }

        .margin:not(:first-of-type) {
          margin-left: 25px;
        }

        .category:hover {
          background-color: #dddddd;
        }
      }
    }

    .albums {
      max-width: 1100px;
      width: 100%;
      display: grid;
      grid-template: auto/repeat(3, 340px);
      grid-gap: 37px;
      justify-content: center;

      .album {
        width: 340px;
        background: #8f0d0d;
        padding: 20px;
        border-radius: 7px;
        position: relative;

        .cover {
          max-width: 300px;
          max-height: 300px;
        }

        .title {
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 14px;
          height: 45px;
          overflow: hidden;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: default;
        }

        .tags {
          width: 300px;
          margin-top: 10px;
          display: flex;
          user-select: none;
          min-height: 18px;

          .tag {
            padding: 3px 4px;
            background-color: white;
            color: black;
            font-size: 11px;
            margin-right: 10px;
            border-radius: 7px;
            font-weight: 500;

            a {
              color: black;
              text-decoration: none;
            }
          }

          .moreDetailsButton {
            cursor: pointer;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 0 5px;
          }

          .moreDetailsButton img {
            display: block;
            width: 12px;
            margin: 5px;
            -webkit-transform: rotate(0);
            transform: rotate(0);
            -webkit-transition: -webkit-transform 0.4s ease-in-out;
            transition: -webkit-transform 0.4s ease-in-out;
            transition: transform 0.4s ease-in-out;
            transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
          }
        }

        .prize {
          margin: 30px 0;
          font-size: 16px;
          font-weight: 900;
          text-align: center;
        }

        .buttons {
          div {
            height: 40px;
            width: 100%;
            text-align: center;
            background-color: rgb(84 1 1);
            margin: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 8px;
            transition: all 0.2s ease;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
          }

          div:hover {
            background-color: rgb(95, 1, 1);
          }

          .details {
            img {
              width: 60%;
            }
          }
          .addToCart {
            img {
              width: 90%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  body main .albums {
    grid-template: auto/repeat(2, 340px);
  }
}

@media only screen and (max-width: 1050px) {
  body main .searchContainer {
    .searchBar {
      max-width: 80%;

      input {
        max-width: 100%;
        min-width: 300px;
      }

      .searchResults {
        display: grid;
        grid-template: auto / repeat(2, 240px);
      }
    }
  }
}

@media only screen and (max-width: 880px) {
  body main .albums {
    grid-template: auto/repeat(1, 340px);
  }
}

@media only screen and (max-width: 700px) {
  body main .searchContainer {
    .searchBar {
      .searchResults {
        display: grid;
        grid-template: auto / repeat(1, 240px);
      }
    }
  }
}
