* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #2b2121;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", Arial, sans-serif;
  overflow: auto;
}
body main {
  width: 100%;
  max-width: 1100px;
  color: white;
}
body main .searchContainer {
  width: 100%;
  margin: 10px 0;
}
body main .searchContainer .searchBar {
  display: flex;
  justify-content: center;
}
body main .searchContainer .searchBar input {
  width: 80%;
  height: 35px;
  font-size: 16px;
  color: white;
  padding-left: 12px;
  text-align: center;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  outline: none;
}
body main .searchContainer .searchBar input::-moz-placeholder {
  color: rgb(197, 197, 197);
  font-style: italic;
}
body main .searchContainer .searchBar input::placeholder {
  color: rgb(197, 197, 197);
  font-style: italic;
}
body main .searchContainer .categories {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body main .searchContainer .categories .category {
  padding: 3px 8px;
  margin: 5px 0;
  background-color: white;
  color: black;
  border-radius: 7px;
  font-size: 16px;
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
body main .searchContainer .categories .margin:not(:first-of-type) {
  margin-left: 25px;
}
body main .searchContainer .categories .category:hover {
  background-color: #dddddd;
}
body main .albums {
  max-width: 1100px;
  width: 100%;
  display: grid;
  grid-template: auto/repeat(3, 340px);
  grid-gap: 37px;
  justify-content: center;
}
body main .albums .album {
  width: 340px;
  background: #8f0d0d;
  padding: 20px;
  border-radius: 7px;
  position: relative;
}
body main .albums .album .cover {
  max-width: 300px;
  max-height: 300px;
}
body main .albums .album .title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 14px;
}
body main .albums .album .tags {
  width: 300px;
  margin-top: 10px;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  min-height: 18px;
}
body main .albums .album .tags .tag {
  padding: 3px 4px;
  background-color: white;
  color: black;
  font-size: 11px;
  margin-right: 10px;
  border-radius: 7px;
  font-weight: 500;
}
body main .albums .album .tags .tag a {
  color: black;
  text-decoration: none;
}
body main .albums .album .prize {
  margin: 30px 0;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
}
body main .albums .album .buttons div {
  height: 40px;
  width: 100%;
  text-align: center;
  background-color: rgb(84, 1, 1);
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.2s ease;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
body main .albums .album .buttons div:hover {
  background-color: rgb(95, 1, 1);
}
body main .albums .album .buttons .details img {
  width: 60%;
}
body main .albums .album .buttons .addToCart img {
  width: 90%;
}

@media only screen and (max-width: 1200px) {
  body main .albums {
    grid-template: auto/repeat(2, 340px);
  }
}
@media only screen and (max-width: 880px) {
  body main .albums {
    grid-template: auto/repeat(1, 340px);
  }
}/*# sourceMappingURL=style.css.map */