* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #2b2121;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  font-family: "Montserrat", Arial, sans-serif;
  overflow: auto;
}
body main {
  width: 100%;
  max-width: 1100px;
  color: white;
}
body main .container {
  margin-top: 40px;
  display: flex;
}
body main .container .cart {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 94px;
}
body main .container .cart .sum {
  font-size: 16px;
  width: 467px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  background-color: #8f0d0d;
  padding: 4px;
  border-radius: 4px;
}
body main .container .cart .sum div span {
  font-weight: 700;
  font-size: 18px;
}
body main .container .cart .product {
  display: flex;
  align-items: center;
  height: 112px;
  margin-bottom: 20px;
}
body main .container .cart .product .cd {
  width: 350px;
  background-color: #8f0d0d;
  border-radius: 4px;
  padding: 16px;
  display: flex;
  align-items: center;
}
body main .container .cart .product .cd .img {
  width: 70px;
}
body main .container .cart .product .cd .img img {
  width: 80px;
  display: block;
  border-radius: 4px;
}
body main .container .cart .product .cd .details {
  margin-left: 20px;
}
body main .container .cart .product .cd .details .title {
  font-weight: 600;
  font-size: 16px;
}
body main .container .cart .product .cd .details .artistName {
  font-size: 14px;
  margin-top: 5px;
}
body main .container .cart .product .quantity {
  height: 100%;
  display: grid;
  place-items: center;
  width: 112px;
  height: 112px;
  background-color: #8f0d0d;
  border-radius: 4px;
  margin-left: 5px;
}
body main .container .cart .product .quantity .delete {
  display: flex;
  justify-content: space-between;
  width: 65%;
}
body main .container .cart .product .quantity .delete .amount {
  font-weight: 700;
  font-size: 18px;
}
body main .container .cart .product .quantity .delete img {
  width: 16px;
  display: block;
  cursor: pointer;
  align-self: center;
}
body main .container .cart .product .quantity .field {
  background-color: white;
  border-radius: 10px;
  padding: 6px;
  display: flex;
  align-items: center;
}
body main .container .cart .product .quantity .field button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
}
body main .container .cart .product .quantity .field input {
  width: 30px;
  text-align: center;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 600;
}
body main .container .cart .product .quantity .field input::-webkit-outer-spin-button,
body main .container .cart .product .quantity .field input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
body main .container .form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .container .form h2 {
  margin: 0 auto 40px;
}
body main .container .form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
body main .container .form form div {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
body main .container .form form div input {
  width: 100%;
  height: 30px;
  margin-top: 5px;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 0 10px;
}
body main .container .form form .checkbox {
  flex-direction: row;
  font-size: 13px;
  align-items: center;
  margin-top: 20px;
}
body main .container .form form .checkbox label {
  width: 90%;
}
body main .container .form form .checkbox input {
  width: 10%;
  height: 20px;
  cursor: pointer;
}
body main .container .form form input[type=submit] {
  width: 70%;
  height: 30px;
  background-color: #a8f08a;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 4px;
}
body main .container .form form input[type=submit]:hover {
  background-color: #a0e184;
}
body main .container .form form p {
  font-size: 13px;
}/*# sourceMappingURL=style.css.map */