form {
  padding: 20px 40px 0;
  width: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #c0c0c0;
  -webkit-box-shadow: 0px 0px 10px 0px #292929;
  box-shadow: 0px 0px 10px 0px #292929;
  border-radius: 2px;
}

form .code {
  height: 95px;
  background-color: #f0f0f0;
}

form .code input {
  text-align: center;
  width: 400px;
  margin: auto;
}

form div {
  padding: 0 30px;
  margin: 20px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

form .fields input {
  margin-right: 23px;
  width: 400px;
}

.tracksDuration {
  padding: 0;
}

.tracksDuration input {
  width: 100px;
  margin-right: 23px;
}

form button {
  margin: 30px auto 30px;
  cursor: pointer;
  width: 150px;
  height: 35px;
  font-size: 16px;
  background-color: #2edd86;
  border: none;
  border-radius: 2px;
}

form button:hover {
  background-color: #31e28a;
}
